/* PALETAS DE COLORES

BLANCO: #FFFCF2
GRIS: #CCC5B9
GRIS OSCURO: #403D39
NEGRO: #252422
NARANJA: #EB5E28

 */
/* ------------------------- RESET ------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  /* outline: 1px solid red; */
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(245, 245, 245);
}

/* ------------------------- INICIO HEADER ------------------------------------------- */
.header {
  background-color: #252422;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header h2 {
  display: flex;
  align-items: center;
  color: #FFFCF2;
}
.header__icons {
  display: flex;
  gap: 15px;
  font-size: 18px;
  color: #FFFCF2;
}

.nav__sections {
  padding: 0;
}
.nav__sections li {
  display: block;
  text-align: center;
  padding: 5px;
  transition-duration: 1s;
}
.nav__sections a {
  color: #403D39;
  border: 2px solid transparent;
}
.nav__sections a:hover {
  color: #EB5E28;
  border-bottom: 2px solid #EB5E28;
}

hr {
  width: 100%;
  margin-top: -15px;
}

/* ------------------------------------- INICIO FOOTER --------------------------------- */
.footer__newsletter {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 10px;
  background-color: #fff;
}
.footer__newsletter h5 {
  font-size: 20px;
}
.footer__newsletter span {
  font-size: 12px;
}

.newsletter__title {
  display: flex;
  flex-direction: column;
}

.newsletter__form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.newsletter__email input {
  background: transparent;
  outline: none;
  border: 1px solid #403D39;
  text-align: center;
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #252422;
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
}
.footer__icons i {
  font-size: 30px;
  color: #FFFCF2;
}
.footer__icons i:hover {
  color: #EB5E28;
}

.footer__lista ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #FFFCF2;
  padding: 0;
}
.footer__lista ul a {
  color: #FFFCF2;
}
.footer__lista ul a:hover {
  color: #EB5E28;
}

/* ----------- BOTONES ----------- */
/* ----------- BOTON ENVIAR----------- */
.btn__enviar input {
  padding: 2px 10px;
  background: transparent;
  border: 1px solid #252422;
}
.btn__enviar input:hover {
  padding: 2px 10px;
  color: #FFFCF2;
  background: #252422;
  border: 1px solid #252422;
}

/* ----------- BOTON COMPRAR ----------- */
.btn__comprar {
  border: 1px solid #252422;
  border-radius: 5px;
  padding: 2px 5px;
  background: #252422;
}
.btn__comprar a {
  color: #FFFCF2;
}
.btn__comprar a:hover {
  color: #252422;
}

.btn__comprar:hover {
  background: transparent;
}

.producto__tarjeta {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 10px;
  border-radius: 0px 0px 5px 5px;
  background-color: #fff;
}
.producto__tarjeta img {
  width: 80%;
}
.producto__tarjeta hr {
  margin: 0;
}
.producto__tarjeta h3 {
  font-size: 22px;
  margin: 0;
}
.producto__tarjeta span {
  font-size: 22px;
}

/* ----------------------- TARJETAS PRODUCTOS CARRUSEL VERANO 2023 ------------------ */
.tarjeta__carrusel {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 10px;
}
.tarjeta__carrusel img {
  width: 250px;
}
.tarjeta__carrusel hr {
  width: 50%;
  margin: 0;
}
.tarjeta__carrusel h3 {
  margin: 0;
  font-size: 28px;
}
.tarjeta__carrusel span {
  font-size: 22px;
}

/* ----------------------------------- PAGINA DE INICIO --------------------------------- */
.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.titulo h3 {
  font-size: 25px;
}
.titulo hr {
  margin-top: -5px;
  width: 80%;
}

/* ----------------------- TARJETAS PRODUCTOS CARRUSEL VERANO 2023 ------------------ */
.tarjeta__carrusel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 10px;
}
.tarjeta__carrusel img {
  width: 250px;
}
.tarjeta__carrusel hr {
  margin: 0;
}
.tarjeta__carrusel h3 {
  font-size: 28px;
}
.tarjeta__carrusel span {
  font-size: 22px;
}

/* ----------------------------- PRODUCTOS INICIO ----------------------------------- */
.titulo__productos-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.titulo__productos-inicio h4 {
  font-size: 25px;
  margin-top: 50px;
}
.titulo__productos-inicio hr {
  margin-top: -5px;
  width: 80%;
}

.seccion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.seccion__productos {
  display: flex;
  overflow: auto;
  grid-area: producto;
}
.seccion__productos:hover {
  border-radius: 0px 0px 5px 5px;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.35);
}

/* ---------------------- AVISO PROMOCIONES INICIO ------------------------ */
.aviso__promociones-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 30px;
}
.aviso__promociones-inicio .aviso__cuotas-1 {
  padding: 10px;
  background-color: #252422;
  border-radius: 10px;
  transition-duration: 0.5s;
}
.aviso__promociones-inicio .aviso__cuotas-1:hover {
  background-color: #EB5E28;
  transform: scale(1.04);
}
.aviso__promociones-inicio .aviso__cuotas-2 {
  padding: 10px;
  background-color: #252422;
  border-radius: 10px;
  transition-duration: 0.5s;
}
.aviso__promociones-inicio .aviso__cuotas-2:hover {
  background-color: #EB5E28;
  transform: scale(1.04);
}
.aviso__promociones-inicio a {
  color: #FFFCF2;
}
.aviso__promociones-inicio h4 {
  font-size: 30px;
}
.aviso__promociones-inicio span {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

/* -------------------------------- PAGINA INDUMENTARIA ---------------------------------- */
.titulo__indumentaria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.titulo__indumentaria h3 {
  font-size: 25px;
}
.titulo__indumentaria hr {
  margin-top: 20px;
  width: 80%;
}

/* -----------------------ESTRUCTURA DE INDUMENTARIA ---------------------------------- */
.indumentaria__container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  grid-template-areas: "filtro" "recomendados" "productos";
  gap: 30px;
  justify-items: center;
}

.filtro__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  grid-area: filtro;
}

.filtro__contenido {
  color: #252422;
}
.filtro__contenido button {
  border: 1px solid #252422;
  border-radius: 2px;
  text-align: center;
  width: 200px;
  height: auto;
  background: transparent;
}
.filtro__contenido button:hover {
  border: 1px solid #252422;
  border-radius: 2px;
  text-align: center;
  width: 200px;
  height: auto;
  background-color: #252422;
  color: #FFFCF2;
}

.recomendados__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.recomendados__titulo {
  color: #252422;
  font-size: 25px;
}

.recomendados__productos {
  grid-area: recomendados;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.recomendados__indumetaria:hover {
  border-radius: 0px 0px 5px 5px;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.35);
}

.productos__titulo--indumentaria {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #252422;
  margin: 20px 0px;
}

.productos__container--indumentaria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  grid-area: productos;
}

.productos__indumentaria:hover {
  border-radius: 0px 0px 5px 5px;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.35);
}

/* ---------------------- AVISO PROMOCIONES INICIO ------------------------ */
.aviso__promociones-inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 30px;
}
.aviso__promociones-inicio .aviso__cuotas-1 {
  padding: 10px;
  background-color: #252422;
  border-radius: 10px;
  transition-duration: 0.5s;
}
.aviso__promociones-inicio .aviso__cuotas-1:hover {
  background-color: #EB5E28;
  transform: scale(1.04);
}
.aviso__promociones-inicio .aviso__cuotas-2 {
  padding: 10px;
  background-color: #252422;
  border-radius: 10px;
  transition-duration: 0.5s;
}
.aviso__promociones-inicio .aviso__cuotas-2:hover {
  background-color: #EB5E28;
  transform: scale(1.04);
}
.aviso__promociones-inicio a {
  color: #FFFCF2;
}
.aviso__promociones-inicio h4 {
  font-size: 30px;
}
.aviso__promociones-inicio span {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
