@charset "UTF-8";
/* PALETAS DE COLORES

NEGRO: #000000
BLANCO: #FFFFFF
GRIS: #E0E0E0
VIOLETA: #673AB7
VIOLETA OSCURO: #3C226D

 */
/* ------------------------- RESET ------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  /* outline: 1px solid red; */
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #E0E0E0;
}

/* ------------------------- INICIO HEADER ------------------------------------------- */
.header {
  background-color: #000000;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header__logo {
  height: 80px;
  width: auto;
}
.header__icons {
  display: flex;
  gap: 15px;
  font-size: 18px;
  color: #FFFCF2;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__lista {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.nav__lista li {
  text-align: center;
  padding: 5px;
  transition-duration: 1s;
}
.nav__lista a {
  color: #000000;
  border: 2px solid transparent;
}
.nav__lista a:hover {
  color: #673AB7;
  border-bottom: 2px solid #673AB7;
}
.nav hr {
  width: 100%;
  margin-top: -15px;
}

/* -------------------------------- INICIO RESPONSIVE 480PX ------------------------------- */
@media (min-width: 480px) {
  .nav__lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    padding: 0;
  }
  .nav__lista li {
    padding: 5px;
    transition-duration: 1s;
  }
  .nav__lista a {
    color: #000000;
    border: 2px solid transparent;
  }
  .nav__lista a:hover {
    color: #673AB7;
    border-bottom: 2px solid #673AB7;
  }
  .nav hr {
    width: 100%;
    margin-top: -15px;
  }
}
/* ------------------------------------- INICIO FOOTER --------------------------------- */
.newsletter {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  padding: 10px;
  background-color: #FFFFFF;
}
.newsletter h5 {
  font-size: 20px;
}
.newsletter span {
  font-size: 12px;
}
.newsletter__title {
  display: flex;
  flex-direction: column;
}
.newsletter__form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.newsletter__email input {
  background: transparent;
  outline: none;
  border: 1px solid #000000;
  text-align: center;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #000000;
}
.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
}
.footer__icons i {
  font-size: 30px;
  color: #FFFFFF;
}
.footer__icons i:hover {
  color: #673AB7;
}
.footer__lista ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #FFFFFF;
  padding: 0;
}
.footer__lista ul a {
  color: #FFFFFF;
}
.footer__lista ul a:hover {
  color: #673AB7;
}

/* -------------------------------- INICIO FOOTER RESPONSIVE 768PX ------------------------------- */
@media (min-width: 768px) {
  .newsletter__form form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .footer__lista ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
  }
}
.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.titulo h1 {
  background-color: #000000;
  color: #FFFFFF;
  padding: 0px 8px;
  font-weight: 1000;
  font-size: 45px;
  -moz-transform: skew(-10deg, 0deg);
  -webkit-transform: skew(-10deg, 0deg);
  -o-transform: skew(-10deg, 0deg);
  -ms-transform: skew(-10deg, 0deg);
  transform: skew(-10deg, 0deg);
}
.titulo hr {
  margin-top: 20px;
  width: 80%;
}

.verano {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.verano__titulo {
  background-color: #000000;
  color: #FFFFFF;
  padding: 0px 8px;
  font-weight: 1000;
  font-size: 45px;
  -moz-transform: skew(-10deg, 0deg);
  -webkit-transform: skew(-10deg, 0deg);
  -o-transform: skew(-10deg, 0deg);
  -ms-transform: skew(-10deg, 0deg);
  transform: skew(-10deg, 0deg);
}
.verano hr {
  margin-top: 5px;
  width: 80%;
}

.destacado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.destacado__titulo {
  background-color: #000000;
  color: #FFFFFF;
  padding: 0px 8px;
  margin-top: 20px;
  font-weight: 1000;
  font-size: 35px;
  -moz-transform: skew(-10deg, 0deg);
  -webkit-transform: skew(-10deg, 0deg);
  -o-transform: skew(-10deg, 0deg);
  -ms-transform: skew(-10deg, 0deg);
  transform: skew(-10deg, 0deg);
}
.destacado hr {
  margin-top: 5px;
  width: 80%;
}

/* -------------------------------- INICIO RECOMENDADOS RESPONSIVE 480PX ------------------------------- */
.recomendados__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #000000;
  font-weight: 600;
  font-size: 25px;
}

.recomendados__productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* -------------------------------- INICIO RECOMENDADOS RESPONSIVE 1100PX ------------------------------- */
@media (min-width: 1100px) {
  .recomendados__titulo {
    margin: 20px 0;
    display: flex;
    justify-content: flex-start;
  }
  .recomendados__productos {
    grid-area: recomendados;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
/* -----------------------ESTRUCTURA DEL CATALOGO ---------------------------------- */
.filtro {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.filtro__contenido {
  color: #673AB7;
}
.filtro__contenido button {
  border: 1px solid #673AB7;
  border-radius: 2px;
  text-align: center;
  width: 200px;
  height: auto;
  background: transparent;
}
.filtro__contenido button:hover {
  border: 1px solid #673AB7;
  border-radius: 2px;
  text-align: center;
  width: 200px;
  height: auto;
  background-color: #673AB7;
  color: #FFFFFF;
}

.filtro__expandido {
  display: none;
}

.productos__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: #000000;
  margin: 20px 0px;
}
.productos__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* -------------------------------- INICIO INDUMENTARIA RESPONSIVE 1100PX ------------------------------- */
@media (min-width: 1100px) {
  .catalogo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2;
    grid-template-areas: "filtro recomendados" "filtro productos";
    justify-content: center;
    align-items: start;
    gap: 5px;
  }
  .filtro {
    display: flex;
    justify-items: stretch;
    align-items: stretch;
    border-radius: 5px;
    grid-area: filtro;
  }
  .filtro__contenido {
    color: #000000;
  }
  .filtro__expandido {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 670px;
    gap: 20px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 8px 8px 5px -4px rgba(0, 0, 0, 0.9);
    box-shadow: 8px 8px 5px -4px rgba(0, 0, 0, 0.9);
  }
  .filtro__expandido span {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
  }
  .filtro__expandido--tipo span {
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
  }
  .filtro__expandido--precio span {
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
  }
  .filtro__expandido--talle span {
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
  }
  .filtro__expandido--talle .talle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .filtro__expandido--color span {
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
  }
  .filtro__expandido--color .color {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .filtro__expandido--color .btn__medida {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 35px;
    height: 35px;
  }
  .filtro__expandido--color #rojo {
    background-color: red;
  }
  .filtro__expandido--color #azul {
    background-color: blue;
  }
  .filtro__expandido--color #amarillo {
    background-color: yellow;
  }
  .filtro__expandido--color #verde {
    background-color: green;
  }
  .filtro__expandido--color #negro {
    background-color: black;
  }
  .filtro__expandido--color #blanco {
    background-color: white;
    border: 1px solid gray;
  }
  .filtro__expandido--color #blanco:focus {
    border: 3px solid gray;
  }
  .filtro__expandido--color .btn__medida:hover {
    transform: scale(1.12);
  }
  .filtro__expandido--color .btn__medida:focus {
    border: 3px solid gray;
  }
  .radio ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .radio ul li {
    display: flex;
    gap: 10px;
  }
  .rango {
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  button {
    display: none;
  }
  .productos__titulo {
    display: flex;
    justify-content: flex-start;
  }
  .productos__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    grid-area: productos;
  }
}
/* ---------------------- AVISO PROMOCIONES INICIO ------------------------ */
.aviso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  gap: 30px;
}
.aviso .aviso__cuotas {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
  transition-duration: 0.5s;
}
.aviso .aviso__cuotas:hover {
  transform: scale(1.04);
}
.aviso a {
  color: #000000;
}
.aviso h4 {
  font-size: 30px;
}
.aviso span {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

/* -------------------------------- INICIO RESPONSIVE 768PX ------------------------------- */
@media (min-width: 768px) {
  .aviso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
.budget-input {
  display: flex;
  justify-content: center;
}

input[type=range].budget-slider {
  -webkit-appearance: none;
  box-sizing: border-box;
  width: 200px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  box-shadow: none;
}

input[type=range].budget-slider::-webkit-slider-runnable-track {
  height: 8px;
  border-radius: 8px;
  border: 1px solid #673AB7 !important;
  background: #673AB7;
}

input[type=range].budget-slider::-moz-range-track {
  height: 8px;
  border-radius: 8px;
  border: 1px solid #4C4C4C !important;
  background: #6F6F6F -moz-linear-gradient(top, #7A7A7B, #55575A);
}

input[type=range].budget-slider::-ms-track {
  box-sizing: border-box;
  height: 8px;
  border-radius: 8px;
  margin-top: 4px;
  color: transparent;
  border: none !important;
  background: #6F6F6F linear-gradient(to bottom, #7A7A7B, #55575A);
}

input[type=range].budget-slider::-ms-fill-lower {
  background: #673AB7;
}

input[type=range].budget-slider::-ms-fill-upper {
  background: #673AB7;
}

input[type=range].budget-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #F8F8F9, #D9D9E2);
  /* @alternate */
  background-image: linear-gradient(to bottom, #F8F8F9, #D9D9E2);
  border: 1px solid #4C4C4C;
  margin-top: -8px;
}

input[type=range].budget-slider::-moz-range-thumb {
  box-sizing: border-box;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: #f5f5f5 -moz-linear-gradient(top, #F8F8F9, #D9D9E2);
  border: 1px solid #4C4C4C;
}

input[type=range].budget-slider::-ms-thumb {
  box-sizing: border-box;
  padding: 0;
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: #f5f5f5 linear-gradient(top, #F8F8F9, #D9D9E2);
  border: 1px solid #4C4C4C;
}

input[type=range].budget-slider:focus {
  outline: none;
}

input[type=range].budget-slider::-moz-focus-outer {
  border: 0;
}

/* ----------- BOTONES ----------- */
/* ----------- BOTON ENVIAR----------- */
.btn-enviar input {
  padding: 2px 10px;
  background: transparent;
  border: 1px solid #000000;
}
.btn-enviar input:hover {
  padding: 2px 10px;
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #000000;
}

/* ----------- BOTON COMPRAR ----------- */
.btn-comprar {
  border: 1px solid #000000;
  border-radius: 3px;
  padding: 2px 5px;
  background: #000000;
  color: #FFFFFF;
  margin-top: 5px;
}

.btn-comprar:hover {
  color: #000000;
  background: transparent;
}

.talle__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 40px;
  width: 35px;
  height: 35px;
  color: #000000;
}

.talle__btn:hover {
  color: #000000;
  background: rgba(103, 58, 183, 0.5);
}

.talle__btn:focus {
  border: 2px solid #673AB7;
  color: #673AB7;
}

.tarjeta {
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 0px 0px 5px 5px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 8px 5px -4px rgba(0, 0, 0, 0.9);
}
.tarjeta__img {
  width: 70%;
  height: auto;
  padding: 10px;
  margin: 0;
}
.tarjeta__img--yeezy {
  width: 70%;
  height: auto;
}
.tarjeta__img--nmd {
  width: 70%;
  height: auto;
}
.tarjeta__img--cadena {
  width: 55%;
  height: auto;
  padding: 10px;
  margin: 0;
  margin-bottom: 6px;
}
.tarjeta__img--riñonera {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 27px 0px;
}
.tarjeta__img--reloj {
  width: 70%;
  height: auto;
  padding: 10px;
  margin: 8px 0;
}
.tarjeta h3 {
  border-bottom: 1px solid #E0E0E0;
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin: 0;
  padding-bottom: 5px;
}
.tarjeta__descrip {
  width: 100%;
  text-align: start;
  margin-left: 30%;
  font-size: 14px;
}
.tarjeta button {
  margin-top: 5px;
}
.tarjeta:hover {
  -webkit-box-shadow: 0px 8px 5px -4px rgba(103, 58, 183, 0.9);
  box-shadow: 0px 8px 5px -4px rgba(103, 58, 183, 0.9);
}

/* ----------------------------------- PAGINA DE INICIO --------------------------------- */
/* ----------------------- TARJETAS PRODUCTOS CARRUSEL VERANO 2023 ------------------ */
.carrusel {
  display: flex;
  justify-content: center;
}
.carrusel__img {
  height: 180px;
  width: auto;
}

/* ----------------------------- PRODUCTOS INICIO ----------------------------------- */
.seccion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0px 50px 0px 50px;
}

/* -------------------------------- INICIO RESPONSIVE 480PX ------------------------------- */
@media (min-width: 480px) {
  .carrusel {
    display: flex;
    justify-content: center;
  }
  .carrusel__img {
    height: 210px;
    width: auto;
  }
}
/* -------------------------------- INICIO RESPONSIVE 768PX ------------------------------- */
@media (min-width: 700px) {
  .carrusel {
    display: flex;
    justify-content: center;
  }
  .carrusel__img {
    height: 300px;
    width: auto;
  }
}
/* -------------------------------- INICIO RESPONSIVE 1100PX ------------------------------- */
@media (min-width: 1100px) {
  .carrusel {
    display: flex;
    justify-content: center;
  }
  .carrusel__img {
    height: 500px;
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
