@import "utils/variables";
@import "base/base";
@import "components/botones";
@import "components/tarjetas";
@import "pages/index";
@import "pages/indumentaria";
@import "pages/calzado";
@import "pages/accesorios";
@import "pages/promos";



/* ------------------------- INICIO HEADER ------------------------------------------- */
.header {
    background-color: #252422;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    h2 {
        display: flex;
        align-items: center;
        color: #FFFCF2;
    }

    &__icons {
        display: flex;
        gap: 15px;
        font-size: 18px;
        color: #FFFCF2;
    }
}

.nav__sections {

    padding: 0;

        li {
            display: block;
            text-align: center;
            padding: 5px;
            transition-duration: 1s;
        }

        a {
            color: #403D39;
            border: 2px solid transparent;

            &:hover {
                color: #EB5E28;
                border-bottom: 2px solid #EB5E28;
            }
        }
    }

    hr {
        width: 100%;
        margin-top: -15px;
    }


/* ------------------------------------- INICIO MAIN --------------------------------- */


/* ------------------------------------- INICIO FOOTER --------------------------------- */

.footer__newsletter{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 10px;
    background-color: $color-secundario;

    h5{
        font-size: 20px;
    }
    span{
        font-size: 12px;
    }
}

.newsletter__title{
display: flex;
flex-direction: column;

}

.newsletter__form{
    
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

}

.newsletter__email{
    input{
        background: transparent;
        outline: none;
        border: 1px solid $color-terciario;
        text-align: center;
    }
}

.footer__container{
    background-color: $color-cuaternario;
}

.footer__icons{
    i{
        color: $color-primario;
    }
}

.footer__lista{
    ul{
        color: $color-primario;
    }
}