/* PALETAS DE COLORES

BLANCO: #FFFCF2
GRIS: #CCC5B9
GRIS OSCURO: #403D39
NEGRO: #252422
NARANJA: #EB5E28

 */

$color-primario:#FFFCF2;
$color-secundario:#CCC5B9;
$color-terciario:#403D39;
$color-cuaternario:#252422;
$color-quinario:#EB5E28;