/* PALETAS DE COLORES

NEGRO: #000000
BLANCO: #FFFFFF
GRIS: #E0E0E0
VIOLETA: #673AB7
VIOLETA OSCURO: #3C226D

 */

$color-blanco:#FFFFFF;
$color-gris:#E0E0E0;
$color-negro:#000000;
$color-violeta:#673AB7;
$color-violetaOscuro:#3C226D;