/* -------------------------------- PAGINA CALZADO ---------------------------------- */
.titulo__calzado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    h3{
        font-size: 25px;
    }
    hr {
        margin-top: 20px;
        width: 80%;
    }
}

/* -----------------------ESTRUCTURA DE CALZADO ---------------------------------- */

.calzado__container{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    grid-template-areas:

        "filtro"
        "recomendados"
        "productos"
    ;
    gap: 30px;
    justify-items: center;
}

.filtro__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    grid-area: filtro;
}

.filtro__contenido {
    color: $color-cuaternario;

    button{
        border: 1px solid $color-cuaternario;
        border-radius: 2px;
        text-align: center;
        width: 200px;
        height: auto;
        background: transparent;
    }

    button:hover{
        border: 1px solid $color-cuaternario;
        border-radius: 2px;
        text-align: center;
        width: 200px;
        height: auto;
        background-color: $color-cuaternario;
        color: $color-primario;
    }
}

.recomendados__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.recomendados__titulo{
    color: #252422;
    font-size: 25px;
}

.recomendados__productos{
    grid-area: recomendados;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.recomendados__calzado:hover{
    border-radius: 0px 0px 5px 5px;
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.35);

}

.productos__titulo--calzado{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #252422;
    margin: 20px 0px;

}

.productos__container--calzado {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    grid-area: productos;

}

.productos__calzado:hover{
    border-radius: 0px 0px 5px 5px;
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.35);

}

