/* ----------------------------------- PAGINA DE INICIO --------------------------------- */

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    h3 {
        font-size: 25px;
    }

    hr {
        margin-top: -5px;
        width: 80%;
    }
}

/* ----------------------- TARJETAS PRODUCTOS CARRUSEL VERANO 2023 ------------------ */

.carrusel{
    display: flex;
    justify-content: center;

    &__img{
        height: 180px;
        width: auto;     
    }
}


/* ----------------------------- PRODUCTOS INICIO ----------------------------------- */

.titulo__productos-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    h4 {
        font-size: 25px;
        margin-top: 50px;
    }

    hr {
        margin-top: -5px;
        width: 80%;
    }
}


.seccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__productos {
        display: flex;
        overflow: auto;
        grid-area: producto;


    }

    &__productos:hover{
        border-radius: 0px 0px 5px 5px;
        box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.35);

    }

}


/* -------------------------------- INICIO RESPONSIVE 480PX ------------------------------- */

@media (min-width: 480px) {


}

/* -------------------------------- INICIO RESPONSIVE 768PX ------------------------------- */

@media (min-width: 768px) {

    .carrusel{
        display: flex;
        justify-content: center;
    
        &__img{
            height: 500px;
            width: auto;     
        }
    }

}