/* -------------------------------- PAGINA INDUMENTARIA ---------------------------------- */
.titulo__indumentaria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    h3{
        font-size: 25px;
    }
    hr {
        margin-top: 20px;
        width: 80%;
    }
}

