/* ----------------------------------- PAGINA DE INICIO --------------------------------- */



/* ----------------------- TARJETAS PRODUCTOS CARRUSEL VERANO 2023 ------------------ */

.carrusel{
    display: flex;
    justify-content: center;

    &__img{
        height: 180px;
        width: auto;     
    }
}


/* ----------------------------- PRODUCTOS INICIO ----------------------------------- */




.seccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 0px 50px 0px 50px;

}


/* -------------------------------- INICIO RESPONSIVE 480PX ------------------------------- */

@media (min-width: 480px) {

    .carrusel{
        display: flex;
        justify-content: center;
    
        &__img{
            height: 210px;
            width: auto;     
        }
    }

}

/* -------------------------------- INICIO RESPONSIVE 768PX ------------------------------- */

@media (min-width: 700px) {

    .carrusel{
        display: flex;
        justify-content: center;
    
        &__img{
            height: 300px;
            width: auto;     
        }
    }

}

/* -------------------------------- INICIO RESPONSIVE 1100PX ------------------------------- */

@media (min-width: 1100px) {

    .carrusel{
        display: flex;
        justify-content: center;
    
        &__img{
            height: 500px;
            width: auto;     
        }
    }

}