/* -------------------------------- PAGINA INDUMENTARIA ---------------------------------- */
.titulo__indumentaria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    h3{
        font-size: 25px;
    }
    hr {
        margin-top: 20px;
        width: 80%;
    }
}

/* -----------------------ESTRUCTURA DE INDUMENTARIA ---------------------------------- */

.indumentaria__container{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    grid-template-areas:

        "filtro"
        "recomendados"
        "productos"
    ;
    gap: 30px;
    justify-items: center;
}

.filtro__container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: #CCC5B9;
    border-radius: 5px;
    grid-area: filtro;
}

.filtro__contenido {
    color: $color-cuaternario;
}

.recomendados__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.recomendados__titulo{
    color: #252422;
    font-size: 25px;
}

.recomendados__productos{
    grid-area: recomendados;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.recomendados__indumetaria {
    width: 150px;
    height: 200px;
    border: solid 2px #252422;
}

.recomendados__tarjeta--indumentaria {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img{
        width: 80%;
        overflow: hidden;
    }
    h3{
        font-size: 18px;
    }

}

.productos__titulo--indumentaria{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #252422;
    margin: 20px 0px;

}

.productos__container--indumentaria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    grid-area: productos;

}

.productos__indumentaria {
    width: 150px;
    height: 200px;
    border: solid 2px $color-cuaternario;
}

/* ---------------------- AVISO PROMOCIONES INICIO ------------------------ */

.aviso__promociones-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;

    .aviso__cuotas-1{
        padding: 10px;
        background-color: #252422;
        border-radius: 10px;
        transition-duration: 0.5s;
        &:hover{
            background-color: #EB5E28;
            transform: scale(1.04);
        }
    }

    .aviso__cuotas-2 {
        padding: 10px;
        background-color: #252422;
        border-radius: 10px;
        transition-duration: 0.5s;
        &:hover{
            background-color: #EB5E28;
            transform: scale(1.04);
        }
    }

    a {
        color: #FFFCF2;
    }
    h4{
        font-size: 30px;
    }
    span {
        font-size: 16px;
        display: flex;
        justify-content: center;
    }


}

