/* -------------------------------- PAGINA INDUMENTARIA ---------------------------------- */
.titulo__indumentaria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;

    h3{
        font-size: 25px;
    }
    hr {
        margin-top: 20px;
        width: 80%;
    }
}

/* -----------------------ESTRUCTURA DE INDUMENTARIA ---------------------------------- */

.indumentaria__container{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    grid-template-areas:

        "filtro"
        "recomendados"
        "productos"
    ;
    gap: 30px;
    justify-items: center;
}

.filtro__container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    grid-area: filtro;
}

.filtro__contenido {
    color: $color-cuaternario;

    button{
        border: 1px solid $color-cuaternario;
        border-radius: 2px;
        text-align: center;
        width: 200px;
        height: auto;
        background: transparent;
    }

    button:hover{
        border: 1px solid $color-cuaternario;
        border-radius: 2px;
        text-align: center;
        width: 200px;
        height: auto;
        background-color: $color-cuaternario;
        color: $color-primario;
    }
}

.filtro__expandido{
    display: none;
}

.recomendados__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.recomendados__titulo{
    color: #252422;
    font-size: 25px;
}

.recomendados__productos{
    grid-area: recomendados;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.recomendados__indumetaria:hover{
    border-radius: 0px 0px 5px 5px;
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.35);

}

.productos__titulo--indumentaria{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #252422;
    margin: 20px 0px;

}

.productos__container--indumentaria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    grid-area: productos;

}

.productos__indumentaria:hover{
    border-radius: 0px 0px 5px 5px;
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.35);

}

/* -------------------------------- INICIO INDUMENTARIA RESPONSIVE 1100PX ------------------------------- */

@media (min-width: 1100px) {
    .indumentaria__container {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;
        grid-template-areas:
    
            "filtro recomendados"
            "filtro productos"
            
        ;
        justify-content: center;
        align-items: start;
        gap: 20px;
    
    }

    .filtro__container{
        display: flex;
        justify-items: stretch;
        align-items: stretch;
        border-radius: 5px;
        grid-area: filtro;
    }
    
    .filtro__contenido {
        color: $color-cuaternario;
        

        .filtro__expandido{
            display: flex;
            flex-direction: column;
            width: 250px;
            height: 600px;
            margin-left: 20px;
            
            background-color: cornflowerblue;

            h6{
                font-size: 26px;
                text-align: center;
            }

            &--tipo{
                color: aqua;
            }

            &--precio{
                
            }

            &--talle{
                
            }

        }

    
        button{
            display: none;
        }
    
    }
    
    .recomendados__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
    }
    
    .recomendados__titulo{
        color: #252422;
        font-size: 25px;
        margin: 0;
    }
    
    .recomendados__productos{
        grid-area: recomendados;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
    }
    
    .recomendados__indumetaria:hover{
        border-radius: 0px 0px 5px 5px;
        box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.35);
    
    }
    
    .productos__titulo--indumentaria{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: #252422;
        margin: 0;
    
    }
    
    .productos__container--indumentaria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: stretch;
        gap: 10px;
        grid-area: productos;
    
    }
    
    .productos__indumentaria:hover{
        border-radius: 0px 0px 5px 5px;
        box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.35);
    
    }
}


