/* ---------------------- AVISO PROMOCIONES INICIO ------------------------ */

.aviso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 30px;

    .aviso__cuotas {
        background-color: transparent;
        border: 1px solid $color-negro;
        border-radius: 10px;
        padding: 10px;
        transition-duration: 0.5s;

        &:hover {
            transform: scale(1.04);
        }
    }

    a {
        color: $color-negro;
    }

    h4 {
        font-size: 30px;
    }

    span {
        font-size: 16px;
        display: flex;
        justify-content: center;
    }


}

/* -------------------------------- INICIO RESPONSIVE 768PX ------------------------------- */

@media (min-width: 768px) {

    .aviso {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}