/* ----------- BOTONES ----------- */

/* ----------- BOTON ENVIAR----------- */
.btn-enviar{

    input{
        padding: 2px 10px;
        background: transparent;
        border: 1px solid $color-negro;
    }

    input:hover{
        padding: 2px 10px;
        color: $color-blanco;
        background: $color-negro;
        border: 1px solid $color-negro;
    }
}

/* ----------- BOTON COMPRAR ----------- */
.btn-comprar{
    border: 1px solid $color-negro;
    border-radius: 3px;
    padding: 2px 5px;
    background: $color-negro;
    color: $color-blanco;
    margin-top: 5px;
    cursor:pointer;
}


.btn-comprar:hover{
    color: $color-negro;
    background: transparent;
}


.talle__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-negro;
    border-radius: 40px;
    width: 35px;
    height: 35px;
    color: $color-negro;

    
}

.talle__btn:hover{
    color: $color-negro;
    background: rgba($color-violeta, 0.5);
}


.talle__btn:focus {
    border: 2px solid $color-violeta;
    color: $color-violeta;
}

