/* -----------BOTONES----------- */

.btn-comprar {
    background-color: #252422;
    padding: 5px 5px;
    border-radius: 2px;
    color: #FFFCF2;
    margin-bottom: 20px;

}

.btn-comprar:hover {
    background-color: #EB5E28;
}