/* ----------- BOTONES ----------- */

/* ----------- BOTON ENVIAR----------- */
.btn__enviar{
    input{
        padding: 2px 10px;
        background: transparent;
        border: 1px solid $color-cuaternario;
    }

    input:hover{
        padding: 2px 10px;
        color: $color-primario;
        background: $color-cuaternario;
        border: 1px solid $color-cuaternario;
    }
}

/* ----------- BOTON COMPRAR ----------- */
.btn__comprar{
    border: 1px solid $color-cuaternario;
    border-radius: 5px;
    padding: 2px 5px;
    background: $color-cuaternario;

    a{
        color: $color-primario;
    }
    a:hover{
        color: $color-cuaternario;
    }
}

.btn__comprar:hover{
    background: transparent;
}