/* -----------------------ESTRUCTURA DEL CATALOGO ---------------------------------- */


.filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.filtro__contenido {
    color: $color-violeta;

    button {
        border: 1px solid $color-violeta;
        border-radius: 2px;
        text-align: center;
        width: 200px;
        height: auto;
        background: transparent;
    }

    button:hover {
        border: 1px solid $color-violeta;
        border-radius: 2px;
        text-align: center;
        width: 200px;
        height: auto;
        background-color: $color-violeta;
        color: $color-blanco;
    }
}

.filtro__expandido {
    display: none;
}

.productos {

    &__titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 600;
        color: $color-negro;
        margin: 20px 0px;

    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;


    }
}



/* -------------------------------- INICIO INDUMENTARIA RESPONSIVE 1100PX ------------------------------- */

@media (min-width: 1100px) {


    .catalogo {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-rows: 2;
        grid-template-areas:

            "filtro recomendados"
            "filtro productos"

        ;
        justify-content: center;
        align-items: start;
        gap: 5px;

    }

    .filtro {
        display: flex;
        justify-items: stretch;
        align-items: stretch;
        border-radius: 5px;
        grid-area: filtro;

        &__contenido {
            color: $color-negro;
    
            
        }
    
        &__contenido--boton {
            display: none;
        }
    }



    

    .filtro__expandido {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 670px;
        gap: 20px;
        background-color: $color-blanco;
        -webkit-box-shadow: 8px 8px 5px -4px rgba(0, 0, 0, 0.9);
        box-shadow: 8px 8px 5px -4px rgba(0, 0, 0, 0.9);

        span {
            font-size: 28px;
            font-weight: 800;
            text-align: center;
        }

        &--tipo {
            span {
                font-size: 20px;
                font-weight: 600;
                margin-left: 10px;
            }
        }

        &--precio {
            span {
                font-size: 20px;
                font-weight: 600;
                margin-left: 10px;
            }
        }


        &--talle {

            span {
                font-size: 20px;
                font-weight: 600;
                margin-left: 10px;
            }

            .talle {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }
        }

        &--color {

            span {
                font-size: 20px;
                font-weight: 600;
                margin-left: 10px;
            }

            .color {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;

            }

            .btn__medida {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                width: 35px;
                height: 35px;

            }

            #rojo {
                background-color: red;
            }

            #azul {
                background-color: blue;
            }

            #amarillo {
                background-color: yellow;
            }

            #verde {
                background-color: green;
            }

            #negro {
                background-color: black;
            }

            #blanco {
                background-color: white;
                border: 1px solid gray;
            }

            #blanco:focus {
                border: 3px solid gray;
            }

            .btn__medida:hover {
                transform: scale(1.12);

            }

            .btn__medida:focus {
                border: 3px solid gray;
            }

        }

    }

    .radio {
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;

            li {
                display: flex;
                gap: 10px;
            }

        }
    }

    .rango {
        display: flex;
        justify-content: space-between;
        padding: 5px;

    }







    .productos {
        

        &__titulo {
            display: flex;
            justify-content: flex-start;


        }
    }

    .productos__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        grid-area: productos;

    }
}