/* ------------------------------------- INICIO FOOTER --------------------------------- */

.newsletter {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 10px;
    background-color: $color-blanco;

    h5 {
        font-size: 20px;
    }

    span {
        font-size: 12px;
    }

    &__title {
        display: flex;
        flex-direction: column;

    }


    &__form {

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }

    &__email {

        input {
            background: transparent;
            outline: none;
            border: 1px solid $color-negro;
            text-align: center;
        }
    }

}



.footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: $color-negro;


    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding: 10px;
    
        i {
            font-size: 30px;
            color: $color-blanco;
        }
    
        i:hover {
            color: $color-violeta;
        }
    }


    &__lista {

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            color: $color-blanco;
            padding: 0;
    
            a {
                color: $color-blanco;
            }
    
            a:hover {
                color: $color-violeta;
            }
        }
    }


}





/* -------------------------------- INICIO FOOTER RESPONSIVE 768PX ------------------------------- */

@media (min-width: 768px) {

    .newsletter__form {

        form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

    }



    .footer__lista {

        ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            padding: 0;
        }
    }

}