/* ------------------------- INICIO HEADER ------------------------------------------- */
.header {
    background-color: $color-negro;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    &__logo {
        height: 80px;
        width: auto;

    }

    &__icons {
        display: flex;
        gap: 15px;
        font-size: 18px;
        color: #FFFCF2;
    }

    &__icons--carrito {
        display: flex;
        gap: 0.5rem;
        color: $color-blanco;
        
    }

    &__icons--carrito i:hover{
        color: $color-violeta;
    }

    &__icons--carrito span{
        background-color: $color-blanco;
        border-radius: 2px;
        padding: 0 5px;
        margin-left: 5px;
        font-style: normal;
        font-size: 12px;
        color: $color-negro;
    }
}

.nav {

    display: flex;
    justify-content: center;
    align-items: center;

    &__lista {
        display: flex;
        flex-direction: column;
        padding: 0;

        li {
            text-align: center;
            padding: 5px;
            transition-duration: 1s;
        }

        a {
            color: $color-negro;
            border: 2px solid transparent;

            &:hover {
                color: $color-violeta;
                border-bottom: 2px solid $color-violeta;
            }
        }

    }

    hr {
        width: 100%;
        margin-top: -15px;
    }

}





/* -------------------------------- INICIO RESPONSIVE 480PX ------------------------------- */

@media (min-width: 480px) {

    .header {
        &__icons {
            font-size: 25px;
        }

        
    }

    .nav {

        &__lista {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 5px;
            padding: 0;

            li {
                padding: 5px;
                transition-duration: 1s;
            }

            a {
                color: $color-negro;
                border: 2px solid transparent;

                &:hover {
                    color: $color-violeta;
                    border-bottom: 2px solid $color-violeta;
                }
            }
        }

        hr {
            width: 100%;
            margin-top: -15px;
        }

    }
}