/* ------------------------- INICIO HEADER ------------------------------------------- */
.header {
    background-color: #252422;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    h2 {
        display: flex;
        align-items: center;
        color: #FFFCF2;
    }

    &__icons {
        display: flex;
        gap: 15px;
        font-size: 18px;
        color: #FFFCF2;
    }
}

.nav__sections {

    padding: 0;

        li {
            display: block;
            text-align: center;
            padding: 5px;
            transition-duration: 1s;
        }

        a {
            color: #403D39;
            border: 2px solid transparent;

            &:hover {
                color: #EB5E28;
                border-bottom: 2px solid #EB5E28;
            }
        }
    }

    hr {
        width: 100%;
        margin-top: -15px;
    }