/* -------------------------------- INICIO RECOMENDADOS RESPONSIVE 480PX ------------------------------- */


.recomendados {


    &__titulo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        color: $color-negro;
        font-weight: 600;
        font-size: 25px;

        
    }


}

.recomendados__productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


/* -------------------------------- INICIO RECOMENDADOS RESPONSIVE 1100PX ------------------------------- */
@media (min-width: 1100px) {

    .recomendados {
        margin-left: 40px;

        &__titulo {
            margin: 20px 0;
            display: flex;
            justify-content: flex-start;
        }

    }

    .recomendados__productos {
        grid-area: recomendados;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;


    }
}