* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    /* outline: 1px solid red; */
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}