/* ------------------------- RESET ------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    /* outline: 1px solid red; */
}

ul,
ol {
    list-style: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

body{
    background-color: $color-gris;
}




